<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/style.css">
    
    <script src="https://unpkg.com/vue@next" ></script>
    <script src="https://unpkg.com/vue-router@4.0.11/dist/vue-router.global.js"></script>
</head>

<body id="app">
    

      <router-view></router-view>

   
      
</body>
<script  src="vue.js" type="module"></script>

</html>